// -----------------------------------------------------------------------------
// This file contains CSS helper classes.
// -----------------------------------------------------------------------------

/**
 * Clear inner floats
 */
.clearfix::after {
	clear: both;
	content: '';
	display: table;
}

// /**
//  * Main content containers
//  * 1. Make the container full-width with a maximum width
//  * 2. Center it in the viewport
//  * 3. Leave some space on the edges, especially valuable on small screens
//  */
// .custom-container {
//   max-width: $max-width; /* 1 */
//   margin-left: auto; /* 2 */
//   margin-right: auto; /* 2 */
//   padding-left: 20px; /* 3 */
//   padding-right: 20px; /* 3 */
//   width: 100%; /* 1 */
//  }

/**
 * Hide text while making it readable for screen readers
 * 1. Needed in WebKit-based browsers because of an implementation bug;
 *    See: https://code.google.com/p/chromium/issues/detail?id=457146
 */
.hide-text {
	overflow: hidden;
	padding: 0; /* 1 */
	text-indent: 101%;
	white-space: nowrap;
}

/**
 * Hide element while making it readable for screen readers
 * Shamelessly borrowed from HTML5Boilerplate:
 * https://github.com/h5bp/html5-boilerplate/blob/master/src/css/main.css#L119-L133
 */
.visually-hidden {
	border: 0;
	clip: rect(0 0 0 0);
	height: 1px;
	margin: -1px;
	overflow: hidden;
	padding: 0;
	position: absolute;
	width: 1px;
}

.cursor{
	width: 3rem;
	height: 3rem;
	border: 2px solid black;
	border-radius: 50%;
	position: absolute;
	transform: translate(-50%, -50%);
	pointer-events: none;
	transition: all .3s ease;
	transition-property: background, transform;
	transform-origin: 100% 100%;
	z-index: -1;
	// backdrop-filter: blur(3px);
}

.link-grow{
	transform: scale(1.5);
	background: black;
}

.hovered-link{
	a{
		color: white !important;
	}
}

.text-small{
	font-size: 14px;
    text-transform: uppercase;
	letter-spacing: 2px;
	color: rgba(25, 26, 30, .7);
}


input[type="text"], input[type="email"], input[type="tel"], textarea {
    width: 100%;
    // border: none;
    // border-bottom: 2px solid white;
	padding: .5em .5em;
	border: 1px solid rgba(255,255,255,.5);
	background: black;
	margin-top: 1em;
	border-radius: 5px;
	color: rgba(255,255,255,.5);;
}

::placeholder{
	color: rgba(255,255,255,.5);
}