// -----------------------------------------------------------------------------
// This file contains all styles related to the button component.
// -----------------------------------------------------------------------------

.btn-primary{
    background: #191A1E;
    color: #fff;
    display: inline-block;
    padding: 30px 55px 30px 40px;
    line-height: 0px;
    border-radius: 30px;
    position: relative;
    font-family: 'Silka-Medium', sans-serif;
    transition: all .15s ease-in-out;

    img{
        opacity: .5;
        position: absolute;
        top: 50%;
        transform: translate(0, -50%);
        display: inline-block;
        margin-left: 10px;
    }

    &:hover{
        background: #191A1E;
        img{
            opacity: 1;
            margin-left: 13px;
        }
    }
}

.btn-secondary{
    background: white;
    color: #191A1E;
    display: inline-block;
    padding: 30px 55px 30px 40px;
    line-height: 0px;
    border-radius: 30px;
    border: 1px solid rgba(25, 26, 30, 0.15);
    position: relative;
    font-family: 'Silka-Medium', sans-serif;
    transition: all .15s ease-in-out;

    img{
        opacity: .5;
        position: absolute;
        top: 50%;
        transform: translate(0, -50%);
        display: inline-block;
        margin-left: 10px;
        filter: brightness(.5);
    }

    &:hover{
        background: #191A1E;
        border: 1px solid white;
        img{
            opacity: 1;
            margin-left: 13px;
            filter: brightness(1);
        }
    }
}



.btn-third{
    color: #fff;
    display: inline-block;
    // padding: 30px 55px 30px 40px;
    line-height: 0px;
    // border-radius: 30px;
    position: relative;
    font-family: 'Silka-Medium', sans-serif;
    transition: all .15s ease-in-out;

    img{
        opacity: .5;
        position: absolute;
        top: 50%;
        transform: translate(0, -50%);
        display: inline-block;
        margin-left: 10px;
    }

    &:hover{
        background: #191A1E;
        color: #fff;
        img{
            opacity: 1;
            margin-left: 13px;
        }
    }
}