// -----------------------------------------------------------------------------
// This file contains all styles related to the header of the site/application.
// -----------------------------------------------------------------------------

header{
    padding: 3em;

    .cursor{
        width: 3rem;
        height: 3rem;
        border: 2px solid black;
        border-radius: 50%;
        position: absolute;
        transform: translate(-50%, -50%);
        pointer-events: none;
        transition: all .3s ease;
        z-index: 99;
    }

    .link-grow{
        transform: scale(2);
        background: black;
    }

    .brand{
       a{
          font-family: $circular-book;
          font-weight: bold;
          font-size: 22px;
          color: #000;
       }
    }

    .menu-desktop{
        list-style: none;
        display: flex;
        justify-content: space-between;

        li{
            margin-left: 1em;

            a{
                color: #000;
                font-family: $circular-book;
            }
        }
    }
}