/**
 * Set up a decent box model on the root element
 */
html {
  scroll-behavior: smooth;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

/**
 * Make all elements from the DOM inherit from the parent box-sizing
 * Since `*` has a specificity of 0, it does not override the `html` value
 * making all elements inheriting from the root box-sizing value
 * See: https://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/
 */
*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
  padding: 0;
  margin: 0; }

/**
 * Basic styles for links
 */
a {
  text-decoration: none; }
  a:hover, a:active, a:focus {
    text-decoration: underline; }
  a:hover {
    text-decoration: none; }

body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  overflow-x: hidden;
  font-family: "Circular Std Book"; }

section {
  margin-top: 80px; }
  @media (max-width: 575px) {
    section {
      margin-top: 60px !important; } }

img {
  max-width: 100%; }

footer {
  margin-top: auto; }

/**
 * Clear inner floats
 */
.clearfix::after {
  clear: both;
  content: '';
  display: table; }

/**
 * Hide text while making it readable for screen readers
 * 1. Needed in WebKit-based browsers because of an implementation bug;
 *    See: https://code.google.com/p/chromium/issues/detail?id=457146
 */
.hide-text {
  overflow: hidden;
  padding: 0;
  /* 1 */
  text-indent: 101%;
  white-space: nowrap; }

/**
 * Hide element while making it readable for screen readers
 * Shamelessly borrowed from HTML5Boilerplate:
 * https://github.com/h5bp/html5-boilerplate/blob/master/src/css/main.css#L119-L133
 */
.visually-hidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px; }

@font-face {
  font-family: 'Circular Std Bold';
  src: url("../fonts/CircularStd-Bold.otf");
  font-weight: bold; }

@font-face {
  font-family: 'Circular Std Book';
  src: url("../fonts/CircularStd-Book.otf");
  font-weight: normal; }

@font-face {
  font-family: 'Circular Std Medium';
  src: url("../fonts/CircularStd-Meidum.otf");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Font Awesome 5 Brands';
  font-style: normal;
  font-weight: normal;
  src: url("../fontawesome/webfonts/fa-brands-400.ttf");
  src: url("../fontawesome/webfonts/fa-brands-400.eot");
  src: url("../fontawesome/webfonts/fa-brands-400.woff");
  src: url("../fontawesome/webfonts/fa-brands-400.eot?#iefix") format("embedded-opentype"), url("../fontawesome/webfonts/fa-brands-400.woff2") format("woff2"), url("../fontawesome/webfontsfa-brands-400.woff") format("woff"), url("../fontawesome/webfonts/fa-brands-400.ttf") format("truetype"), url("../fontawesome/webfonts/fa-brands-400.svg#fontawesome") format("svg"); }

.fab {
  font-family: 'Font Awesome 5 Brands'; }

@font-face {
  font-family: 'Font Awesome 5 Regular';
  font-style: normal;
  font-weight: 400;
  src: url("../fontawesome/webfonts/fa-regular-400.eot");
  src: url("../fontawesome/webfonts/fa-regular-400.eot?#iefix") format("embedded-opentype"), url("../fontawesome/webfonts/fa-regular-400.woff2") format("woff2"), url("../fontawesome/webfonts/fa-regular-400.woff") format("woff"), url("../fontawesome/webfonts/fa-regular-400.ttf") format("truetype"), url("../fontawesome/webfonts/fa-regular-400.svg#fontawesome") format("svg"); }

/**
 * Basic typography style for copy text
 */
.light {
  color: #fff; }

.gray {
  color: #fff;
  opacity: .7; }

header {
  padding: 3em; }
  header .brand a {
    font-family: "Circular Std Book";
    font-weight: bold;
    font-size: 22px;
    color: #000; }
  header .menu-desktop {
    list-style: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between; }
    header .menu-desktop li {
      margin-left: 1em; }
      header .menu-desktop li a {
        color: #000;
        font-family: "Circular Std Book"; }

.footer {
  margin-top: 5em;
  background: black;
  color: white;
  height: 150px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }
  .footer .row {
    width: 100%; }
  .footer .brand a {
    color: white;
    font-family: "Circular Std Book";
    font-weight: bold;
    font-size: 22px; }

.btn-primary {
  background: #191A1E;
  color: #fff;
  display: inline-block;
  padding: 30px 55px 30px 40px;
  line-height: 0px;
  border-radius: 30px;
  position: relative;
  font-family: 'Silka-Medium', sans-serif;
  -webkit-transition: all .15s ease-in-out;
  -o-transition: all .15s ease-in-out;
  transition: all .15s ease-in-out; }
  .btn-primary img {
    opacity: .5;
    position: absolute;
    top: 50%;
    -webkit-transform: translate(0, -50%);
    -ms-transform: translate(0, -50%);
    transform: translate(0, -50%);
    display: inline-block;
    margin-left: 10px; }
  .btn-primary:hover {
    background: #191A1E; }
    .btn-primary:hover img {
      opacity: 1;
      margin-left: 13px; }

.btn-secondary {
  background: white;
  color: #191A1E;
  display: inline-block;
  padding: 30px 55px 30px 40px;
  line-height: 0px;
  border-radius: 30px;
  border: 1px solid rgba(25, 26, 30, 0.15);
  position: relative;
  font-family: 'Silka-Medium', sans-serif;
  -webkit-transition: all .15s ease-in-out;
  -o-transition: all .15s ease-in-out;
  transition: all .15s ease-in-out; }
  .btn-secondary img {
    opacity: .5;
    position: absolute;
    top: 50%;
    -webkit-transform: translate(0, -50%);
    -ms-transform: translate(0, -50%);
    transform: translate(0, -50%);
    display: inline-block;
    margin-left: 10px;
    -webkit-filter: brightness(0.5);
    filter: brightness(0.5); }
  .btn-secondary:hover {
    background: #191A1E;
    border: 1px solid white; }
    .btn-secondary:hover img {
      opacity: 1;
      margin-left: 13px;
      -webkit-filter: brightness(1);
      filter: brightness(1); }

.btn-third {
  color: #fff;
  display: inline-block;
  line-height: 0px;
  position: relative;
  font-family: 'Silka-Medium', sans-serif;
  -webkit-transition: all .15s ease-in-out;
  -o-transition: all .15s ease-in-out;
  transition: all .15s ease-in-out; }
  .btn-third img {
    opacity: .5;
    position: absolute;
    top: 50%;
    -webkit-transform: translate(0, -50%);
    -ms-transform: translate(0, -50%);
    transform: translate(0, -50%);
    display: inline-block;
    margin-left: 10px; }
  .btn-third:hover {
    background: #191A1E;
    color: #fff; }
    .btn-third:hover img {
      opacity: 1;
      margin-left: 13px; }

.page-home .text-small {
  font-size: 14px;
  text-transform: uppercase;
  letter-spacing: 2px; }

.page-home .line-home {
  position: absolute;
  top: 0;
  left: 15%; }

.page-home .banner {
  margin-top: -2em;
  width: 100%;
  height: 500px;
  -o-object-fit: cover;
  object-fit: cover;
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%); }

.page-home .services span {
  color: #A58861; }

.page-home .services ul {
  margin-top: 1em;
  list-style: none;
  color: #fff; }

.page-home .recently-work {
  border-bottom: 1px solid #ddd; }
  .page-home .recently-work .case {
    width: 100%;
    position: relative;
    overflow: hidden;
    background: #F1F1F1;
    float: left;
    color: #191A1E;
    border: 0px #fff solid;
    -webkit-transform: translate(0%, 10px);
    -ms-transform: translate(0%, 10px);
    transform: translate(0%, 10px);
    padding: 2em;
    -webkit-transition: all .25s ease-in-out;
    -o-transition: all .25s ease-in-out;
    transition: all .25s ease-in-out; }
    .page-home .recently-work .case span {
      text-transform: uppercase;
      color: rgba(25, 26, 30, 0.7);
      letter-spacing: 2px;
      font-size: 14px; }
    .page-home .recently-work .case-content {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex; }
      .page-home .recently-work .case-content .title {
        margin-top: 3em; }
      .page-home .recently-work .case-content img {
        width: 300px;
        margin-top: 3em;
        position: absolute;
        top: 50%;
        left: calc(100% - 90px);
        -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%); }
    .page-home .recently-work .case-view p {
      font-size: 14px; }
    .page-home .recently-work .case:hover {
      -webkit-transform: translate(0%, 0px);
      -ms-transform: translate(0%, 0px);
      transform: translate(0%, 0px); }

.page-home .work-together h2 {
  font-size: 44px; }

.page-home .work-together .text-small {
  letter-spacing: 2px;
  color: rgba(25, 26, 30, 0.7); }

.bg-black {
  background: #191A1E; }

/*# sourceMappingURL=style.css.map */